<form  data-test-form class='form' ...attributes >
  <h1 data-test-form-header class='form-header'>{{@header}}</h1>
  {{#if @error}}
    <div data-test-form-error class='alert danger'>
      {{@error}}
    </div>
  {{/if}}
  {{yield}}
</form>