<Form {{on 'submit' this.submitForm}} @header='Login' @error={{this.error}}>
  <label data-test-email-label for='email'>Email
    <Input
      name='email'
      @type='email'
      @value={{this.email}}
      placeholder='Enter email'
      data-test-email-input
    />
  </label>
  <label data-test-password-label for='password'>Password
    <Input
      name='password'
      @type='password'
      @value={{this.password}}
      placeholder='Enter password'
      data-test-password-input
    />
  </label>
  {{! TODO: Loading feedback on button }}
  {{! QUESTION: How to test async calls? }}
  <button
    data-test-submit-button
    type='submit'
    class='btn btn-primary'
  >Submit</button>
</Form>