<nav>
  <LinkTo class='nav-link' @route='home'>
    Home
  </LinkTo>
  <div class='button-group'>
    {{#if this.isLoggedIn}}
      <button class='btn danger' type="button" {{on 'click' this.logout}}>
        Logout
      </button>
    {{else}}
      <LinkTo class='nav-link' @route='register'>
        Register
      </LinkTo>
      <LinkTo class='nav-link' @route='login'>
        Login
      </LinkTo>
    {{/if}}
  </div>
</nav>