<nav>
  <LinkTo data-test-nav-link='home' class='nav-link' @route='home'>
    Home
  </LinkTo>
  <div class='button-group'>
    {{#if this.isLoggedIn}}
      <button
        data-test-nav-link='logout'
        class='btn danger'
        type='button'
        {{on 'click' this.logout}}
      >
        Logout
      </button>
    {{else}}
      <LinkTo data-test-nav-link='register' class='nav-link' @route='register'>
        Register
      </LinkTo>
      <LinkTo data-test-nav-link='login' class='nav-link' @route='login'>
        Login
      </LinkTo>
    {{/if}}
  </div>
</nav>